
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
html{
    font-family: oswald,sans-serif;
    overflow-x: none;
}
#bar{
    width: 100vw;
    height: 16px;
    background-color: black;
}
header{
    height: 220px;
    width: 100vw;
    background-color: #fff;
    
}
h1{
    font-size: 48px;
    text-align: center;
    margin-top: 40px;

}
h6{
    text-align: center;
    font-size: 16px;
    padding: 8px;
    margin: 10px 0px;

}
     
section{
    height: 900px;
    background-image: url(file:///E:/W3SCHOOL/w3images/jane.jpg);
    background-size :500px 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
h2{
    color: #fff;
   text-align: left;
padding: 20px 90px;
    justify-content: end
}
h3{
    color: #fff;
    font-size: 64px;
    text-align: left;
    padding: 20px 90px;
    justify-content: end;
}
.button
{
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 20px 90px;

}
.button:hover{
    background-color: #ffffff;
    color: black;
}
#me{
    border: 4px solid white;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 600px  ;
    gap: 10px;
    height: 1300px;
    margin-top: 50px;
}
.card{
    background-color: rgb(195, 223, 223)
    ;
    width: 900px;
    height: 1300px;
    margin: 50px;
    margin-top: 0px;
    border: 4px solid white;
    grid-row: span 3;
}
#image{
    width: 800px;
    height: 600px;
    margin: 30px;
}
h4{
    margin: 0px 20px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}
h5{
    margin: 0px 40px;
    font-size:25px ;
    justify-content: center;
    text-align: center;
}
#span{
    color: rgb(210, 202, 202);
}
#more{
    margin: 30px;
}
#like{
    background-color: #fff;
    border: 1px solid rgb(35, 32, 32);
    color: black;
    width: 60px;
    height: 30px;
    margin: 30px;
    font-size: 15px;
}
#like:hover{
    background-color: rgb(161, 155, 155);
}
#Replies{
    background-color: black;
    color:white;
    height: 30px;
    width: 70px;
    font-size: 15px;
    text-align: center;
    
    
    

}
#Replies:hover{
    background-color: #7d7a7a;
}
hr{
    width: 100%;
    height: 2px;
    color: rgb(169, 167, 167);
    margin: 15px 0px;
} 
#george{
    width: 100px;
    height: 90px;
    margin: 15px 30px;
} 
#may{
    align-content: center;
    text-align: center;
    font-size: 14px;
}
#pm{
    color: rgb(175, 170, 170);

}
#Great{
    align-items: center;
    align-content: center;
    margin: 15px 0px;
    padding-left: 375px;
}
#blue{
    background-color: black;
    color: #fff;
    width: 400px;
    height: 500px;
    border: 4px white;
    margin-top: 50px;
}
#eyes{
    width: 400px;
    height: 300px;
}
#myname{
    text-align: left;
    margin: 10px;
    font-size: 20px;
    justify-content: left;
}
#myself{
    margin: 15px ;
}

#list4{
    width: 400px;
    height: 500px;
    border: 4px solid white;
}
#list5{
    width: 400px;
    height: 150px;
    background-color: black;
  
    color: #fff;
}
#list6{
    background-color: bisque;
    margin: 30px;
    height: 300px;
    text-align: center;
    justify-content: center;
}
#you{
     border: 4px solid white;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 600px  ;
    gap: 10px;
    height: 1300px;
    margin-top: 50px;
}
.hi{
   background-color: rgb(195, 223, 223)
    ;
    width: 900px;
    height: 1200px;
    margin: 50px;
    margin-top: 0px;
    border: 4px solid white;
    grid-row: span 3; 
}
#hello{
    width: 400px;
    height: 300px;
    margin-top: 50px;
}
#merhaba{
    background-color: black;
    color: #fff;
    width: 400px;
    height: 100px;
    text-align: center;
}
#selam{
    width: auto;
    height: auto;
    background-color: #eae8e8;
    color: #000;
    border: 2px solid #fff;
    padding: 20px;
    line-height: 30px;
}
#motivation{
    width: 400px;
    height: 380px;
}
#inspiration{
    background-color: #000;
    height: 80px;
    margin-top: 50px;
    color: #fff;
    text-align: center;
}
#grid{
    display: grid;
    grid-template-columns: 200px 200px;
}
.inspiration2{
    width: 195px;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
}
#follow{
    width: 400px;
    height: 100px;
    background-color: #bebdbd;
    
}
#enter{
    width: 400px;
    height: 300px;
}
#email{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#email2{
    width: 400px;
    height: 40px;
    color: #fff; 
    background-color: red;
}
#email2:hover{
    color: #000;
    background-color: #d5d0d0;
    outline: none;
}
#city{ 
   background-color: rgb(195, 223, 223)
    ;
    width: 900px;
    height: 1200px;
    margin: 50px;
    margin-top: 0px;
    border: 4px solid white;
}
#more{
    justify-content: left;
    word-wrap: break-word;
}
footer{
    color:#fff;
    background-color: #7d7a7a;
    width: 100%;
    height: 200px;
    text-align: left;
}
#died{
    width: 50px;
    height: 30px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    
}
#died:hover{
    color: #000;
    background-color: #fff;

}


    
    
    
    

    




    


    
    
    


    
    



