*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-container{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: transparent;
   padding: 0px 100px;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0px 0px 0 100px  ;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#header-seperator1{
    width: 200px;
    height: 50px;
    margin-top: 30px;
}
#header-seperator2 a{
    margin-left: 30px;
}
nav a:hover{
    color: rgb(3, 3, 67);
}
.background{
    background-image:url(img/the-town-bg-01.jpg);
    width: 100%;
    height: 100vh;
}
.background-items{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    padding-top: 60px;
}
.background-items h1{
    font-size: 64px ;
    color: white;
    font-weight: 400;
    margin-top: 50px;
    text-shadow: 0 0 5px black;
    margin-bottom: 40px;
}
.background-items p{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
.background-items span{
    color: white;
    font-size: 20px;
}
#background-icon{
    margin-top: 70px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    rotate: 360;
    font-size: 40px;
    color: #3496d8;
}


.section-1-container{
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
}
.section-1-img{
    width: 50%;
    padding: 50px;
}
.section-1-img img{
    width: 100%;
}
.section-1-content{
    width: 50%;
    padding: 50px;
}
.section-1-content h2{
    font-size: 40px;
    color: #3496d8;
    margin-bottom: 30px;
}
.section-1-content p{
    color: #8f8f8f;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 40px;
}
.section-1-content a{
    height: 50px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    padding: 15px 40px; 
    background-color: #3496d8;
    text-decoration: none;
    font-size: 20px;
    margin-top: 40px;
}
.section-1-content a:hover{
    opacity: 0.5;
    transition: linear 3s;
}
.section-2-container{
    width: 100%;
    display: flex;
    padding: 50px 100px ;
}
.section-2-container-div{
    width: 27%;
    margin: 50px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.section-2-container-div i{
    color: #3496d8;
    font-size: 100px;
}
.section-2-container-div h4{
    margin-top: 30px;
    font-size: 24px;
    color: #3496d8;
    margin-bottom: 30px;
}
.section-2-container-div p{
    color: #8f8f8f;
    line-height: 26px;
    font-size: 20px;
}
.section-3-container{
    width: 100%;
    padding: 50px 100px;
}
.section-3-container-div h2{
    display: block;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #3496d8;
}
.section-3-container-div p{
    color: #8f8f8f;
    width: 80%;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 40px 100px ;
    font-size: 18px;

}
.section-3-container-img{
    width: 100%;
}
.section-3-container-img-flex{
    width: 90%;
    display: flex;
}
.section-3-container-img-flex img{
    width: 30%;
    height: 50vh;
    margin: 0px 15px;
}
#img-img{
    width: 20%;
}
.footer-general{
    background-image: url(img/the-town-bg-02.jpg);
    width: 100%;
    padding: 0 100px;
}
.footer-general-contents {
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 50px 100px;     
}
.footer-general-contents h3{
font-size: 45px; 
padding: 50px;
text-align: start;
}
hr{
border: 2px solid white;
margin-bottom: 50px;
}
.footer-general-contents p{
    text-align: start;
    line-height: 25px;
    font-size: 18px;
}
.footer-general-form{
    margin: 50px ;
}
.footer-general-form a{
    color: white;
    text-decoration: none;
}
.footer-general-form a:hover{
    color: #3496d8;
}
.footer-general-form-1{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 35px;
}

.footer-general-form-1 i{
    color: white;
    font-size: 40px;
    margin-right: 0;
}
.footer-general-form-1 i:hover{
    color: #3496d8;
}
.footer-general-form-2 i{
    color: white;
    font-size: 40px;
   

}
.footer-general-form-2 i:hover{
    color: #3496d8;
}


.footer-general-form-2{
    color: white;
    padding-left: 70px;
     display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: start;

}
.footer-general-form-2 a{
    color: white;
    text-decoration: none;
     font-size: 35px;
    

}

input[type="email"]{
     padding: 10px 20px;
     background-color: transparent;
     border: 2px solid white;
     font-size: 20px;
     box-shadow: 0 0 10px black;
     color: #fff;


}
button{
    padding: 10px 20px ;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    color: black;
    
}
#the-end{
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
}
#the-end a{
    color: white;
    text-decoration: none;
}

#the-end a:hover{
    color: #3496d8;

}


@media screen and (max-width:900px) {
    .header-container{
        display: none !important;
        padding: 0 30px;
    }  
    nav{
        justify-content: center;
    }
    .section-1-container{
        flex-direction: column;
        padding: 60px 40px;
    }
    .section-1-content{
        width: 100%;
    }
    .section-1-img{
        width: 100%;
    }
    .section-2-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section-2-container-div{
        width: 100%;
    }
    .section-3-container{
        justify-content: center;
    }
  
    .footer-general-contents{
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .footer-general-form{
        justify-content: center;
        flex-direction: column;
    }
    .footer-general-form-1{
        flex-direction: column;
        width: 100%;
    }
    .footer-general-form-2{
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding-left: 0;
    }
    button{
        margin-top: 20px;
    }
    .footer-general-div{
        height: auto !important;
        justify-content: center;
        flex-direction: column;
    }
    .footer-general{
        width: 98%;
        height: auto;
    }

    
    .section-3-container-img-flex{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100% !important;
    }
    .section-3-container-img-flex img{
        width: 100%;
        margin-bottom: 15px;
    }
    #img-img{
        width: 100%;
    }

}
